<div id="content">
  <div class="header-section">
    <b class="header-name">Darlene Vales</b>
    <div class="header-subtitle">
<span class="header-subtitle-txt-container">
<p class="uiux-designer">UI/UX Designer</p>
<p class="uiux-designer">Web · Mobile · TV</p>
</span>
    </div>
  </div>
  <div class="projects-list">
    <b class="project-list-header">Recent Projects</b>
    <div class="projects">
      <div class="big-project-item-card-1">
<!--        <img class="hover-image-icon" alt="" src="../assets/placeholder-img.png">-->
        <div class="project-title-parent">
          <div class="project-title">And We Are LIVE</div>
          <div class="description">The CW App - Simultaneous Livestreaming</div>
          <div class="platforms-tags-list">
            <div class="platform-tag">
              <div class="platform">iOS</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Android Mobile</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Web</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Roku</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Android TV</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Fire TV</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Apple TV</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Samsung TV</div>
            </div>
            <div class="platform-tag">
              <div class="platform">LG TV</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Vizio</div>
            </div>
            <div class="platform-tag">
              <div class="platform">Chromecast</div>
            </div>
          </div>
        </div>
      </div><div class="big-project-item-card-1">
<!--      <img class="hover-image-icon" alt="" src="../assets/placeholder-img.png">-->
      <div class="project-title-parent">
        <div class="project-title">Time For a New Look</div>
        <div class="description">The CW TV App - Relaunch and Redesign - 2023</div>
        <div class="platforms-tags-list">
          <div class="platform-tag">
            <div class="platform">Roku</div>
          </div>
          <div class="platform-tag">
            <div class="platform">Android TV</div>
          </div>
          <div class="platform-tag">
            <div class="platform">Fire TV</div>
          </div>
          <div class="platform-tag">
            <div class="platform">Apple TV</div>
          </div>
          <div class="platform-tag">
            <div class="platform">Samsung TV</div>
          </div>
          <div class="platform-tag">
            <div class="platform">LG TV</div>
          </div>
          <div class="platform-tag">
            <div class="platform">Vizio</div>
          </div>
          <div class="platform-tag">
            <div class="platform">Chromecast</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
