<nav class="navbar navbar-default">
  <div class="navbar-header">
    <h1><a [routerLink]="''">Darlene Vales</a></h1>
  </div>
  <div class="nav-items">
    <div class="nav-item" [routerLinkActive]="'active'">
      <a  class="nav-link" [routerLink]="''">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" [routerLink]="'projects'">Projects</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" [routerLink]="'about'">About</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
