@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
  --main-family: 'Roboto', sans-serif;
  --color-bg: linear-gradient(180deg, #DEEAEC 0%, #8F91A2 100%);

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: #4d0598;
  --top-right-blur-2: #4D9ABF;
  --bttm-left-blur-1: #f617b7;
  --bttm-left-blur-2: #08dc19;
}

html {
    background: var(--color-bg);
  font-family: var(--main-family), serif;
    min-height: 100%;
}

body{
  margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header{
    text-align: center;
}

.header h1 {
  padding-top:5%;
  margin: 0;
  font-size: calc(max(5vw, 32px));
}

.header .logo img {
  padding: 30px 0;
  width: 100%;
}

.header h2 {
  line-height: 34px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5%;
  font-weight: 500;
}

@media only screen and (max-width: 450px) {
  .header h2 {
    width: 90%;
    padding: 5%;
  }
}

.bttns{
  margin-bottom: 5%;
}

.bttn{
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin: 0 1%;
  text-decoration: none;
}

.bttn.primary{
  display: inline-block;
  width: max-content;
  background: #21A69A;
  border: none;
  color: white;
  box-shadow: -3px 3px 5px rgb(35 33 33 / 23%);
}

.bttn.primary:hover {
  background: #21a69a;
  box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%);
  /* -webkit-box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%); */
}

.bttn.secondary{
  background: transparent;
  border: #093C4F 2px solid;
  color: #0D1D24;
}

.bttn.secondary:hover {
  background: #05171f;
  color: white;
}

.project-list-header {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
}
.hover-image-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 492.8px;
  flex-shrink: 0;
  object-fit: cover;
}
.project-title {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: 15px;
  letter-spacing: -0.03em;
  line-height: 16px;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.platform {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.platform-tag {
  border-radius: 15px;
  border: 1px solid #343f3e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.platforms-tags-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 12px;
  color: #343f3e;
}
.project-title-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.big-project-item-card-1 {
  width: 895px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #deeaec;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  gap: 16px;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 24px;
}
.projects-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 144px;
  box-sizing: border-box;
  gap: 20px;
  text-align: center;
  font-size: 20px;
  color: #000;
}





.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  text-align: center;
  width: 100%;
}

.resource-list ul {
  text-align: left;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.resource-list li {
  padding: 2%;
  font-weight: bold;
}

.resource-list a {
  color: black;
  line-height: 30px;
}

footer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

footer img {
  width: 20px;
}
